* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
}

#canvas {
  border: 1px solid black;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


#timer{
  /* background-color: red; */
  width: 100px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "FighterFish";
  font-size: 100px;
  color: red;
}

#whoWon{
  position: absolute; 
  display: none; 
  align-items: center; 
  justify-content: center;
  top: 0; 
  right: 0; 
  left: 0; 
  bottom: 0;
  font-family: "FighterFish";
  font-size: 200px;
  color: white; 
}
#KO {
  position: fixed;          /* fixed so it stays relative to the viewport */
  top: 11vw;
  left: 60vh;
  width: 40vw;             /* full viewport width */
  height: 40vh;            /* full viewport height */

  display: none;            /* show only when KO happens */
  mix-blend-mode: screen;
}



#p1Health{
  position: absolute;
  background: rgb(35, 116, 35);
  top: 0; 
  right: 0;
  width: 100%; 
  bottom: 0;
  border-radius: 100px;
  /* transform: skew(20deg); */
}
#p2Health{
  position: absolute;
  background: rgb(35, 116, 35);
  top: 0; 
  right: 0;
  left: 0; 
  bottom: 0;
  border-radius: 100px;
}


@font-face{
  font-family: "FighterFish";
  src:url("./GameAssets/FighterFish-3zG53.otf") format("opentype");
}

